$font-size: 16px;
$font-color: lch(53 105 40);

* {
  font-size: $font-size;
  color: $font-color;
  font-family: 'Cousine', monospace;
}

.keyboard {
  max-width: 920px;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px auto 0;
  background-color: rgb(211, 209, 209);
  border-radius: 20px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.4);

  color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__btn {
    outline: none;
    background-color: #eeeeee;
    border: solid 1px #ccc;
    font-size: 0.9rem;
    border-radius: 6px;
    margin: 3px;
    padding: 0;
    cursor: pointer;
    width: 48px;
    min-height: 45px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 40%);
    transition-duration: 0.4s;
    position: relative;
    z-index: 2;
    font-family: Arial;

    &:not(&--active):hover,
    &--active {
      color: #fff;
      background-color: rgb(31, 177, 226);
      border-color: rgb(31, 177, 226);
      z-index: 1;
    }
    &:not(&--active):hover {
      transition: background-color 300ms linear;
    }
    &--active {
      transition: background-color 100ms linear;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 2px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
      box-shadow: 0 0 5px 20px rgb(31, 177, 226);
    }

    &:active:after,
    &--active:after {
      box-shadow: 0 0 0 0 rgb(31, 177, 226);
      position: absolute;
      border-radius: 2px;
      left: 0;
      top: 0;
      opacity: 0.9;
      transition: 0s;
    }

    &:active,
    &--active {
      padding: 0;
      box-shadow: none;
      // top: -1px;
      // z-index: 1;
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &.lang {
      font-weight: bold;
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      color: #fff;

      &--ru,
      &--en {
        background-size: cover;
        background-position: center;
        border: none;
      }
      &--ru {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='flag-icons-ru' viewBox='0 0 640 480'%3E%3Cg fill-rule='evenodd' stroke-width='1pt'%3E%3Cpath fill='%23fff' d='M0 0h640v480H0z'/%3E%3Cpath fill='%230039a6' d='M0 160h640v320H0z'/%3E%3Cpath fill='%23d52b1e' d='M0 320h640v160H0z'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
      &--en {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='flag-icons-gb' viewBox='0 0 640 480'%3E%3Cpath fill='%23012169' d='M0 0h640v480H0z'/%3E%3Cpath fill='%23FFF' d='m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z'/%3E%3Cpath fill='%23C8102E' d='m424 281 216 159v40L369 281h55zm-184 20 6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z'/%3E%3Cpath fill='%23FFF' d='M241 0v480h160V0H241zM0 160v160h640V160H0z'/%3E%3Cpath fill='%23C8102E' d='M0 193v96h640v-96H0zM273 0v480h96V0h-96z'/%3E%3C/svg%3E%0A");
      }
    }
    &.backspace {
      width: 210px;
      font-size: 20px;
    }
    &.tab {
      width: 112px;
    }
    &.enter {
      width: 112px;
    }
    &.shiftright,
    &.shiftleft {
      width: 130px;
    }
    &.capslock,
    &.enter {
      width: 114px;
    }
    &.space {
      width: 410px;
    }
    &.controlright {
      width: 70px;
    }
    &.backspace,
    &.shiftright,
    &.enter {
      text-align: right;
      padding-right: 0.7rem;
    }
    &.tab,
    &.shiftleft,
    &.capslock {
      text-align: left;
      padding-left: 0.7rem;
    }
  }
}

.container {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}
.textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  max-height: 200px;
  min-height: 200px;

  background-color: #fff;
  display: block;
  font-size: 16px;
  border: none;
  tab-size: 4;

  &:focus {
    border: 0;
    outline: none;
  }
  &__wrapper {
    max-width: 800px;
    margin: 0 auto;
    border: solid 2px #928e8e;
    background-color: #eeeeee;
    padding: 2rem;
    border-radius: 0.5rem;
  }
}
.message {
  text-align: center;
  margin: 2rem;
  font-size: 0.9rem;
  line-height: 1.7rem;

  & span {
    background-color: #eeeeee;
    padding: 0 0.6rem 0.1rem;
    border-radius: 11px;
  }
}
